* {
  box-sizing: border-box; }

body {
  font-family: "Gotham Pro", sans-serif; }

.container {
  padding: 15px; }

.headers-attention {
  color: #fb1d43; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.slick-slide {
  outline: none; }

.fancybox-is-open, .fancybox-bg {
  background: #000000;
  opacity: 1; }

.fancybox-button {
  background: transparent; }

a {
  text-decoration: none; }
