* {
  box-sizing: border-box; }

body {
  font-family: "Gotham Pro", sans-serif; }

.container {
  padding: 15px; }

.header {
  color: #8CC541;
  font-family: "Gotham Pro Bold"; }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-content__logo_img img {
      width: 120px; }
    .header-content__menu {
      width: 50%; }
      .header-content__menu ul {
        display: flex;
        justify-content: space-between; }
        .header-content__menu ul li {
          list-style: none; }
    .header-content__contacts {
      text-align: right; }
      .header-content__contacts_phone a {
        color: #8CC541;
        text-decoration: none; }

.main-title {
  color: #8CC541; }

.main-content__products {
  display: flex; }
  .main-content__products_card-img img {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover; }

button {
  outline: none;
  border: none;
  cursor: pointer; }
