* {
  box-sizing: border-box; }

body {
  font-family: "Gotham Pro", sans-serif; }

.container {
  padding: 15px; }

a {
  text-decoration: none;
  color: #8CC541; }

.header {
  color: #8CC541;
  font-family: "Gotham Pro Bold"; }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-content__logo_img img {
      width: 120px; }
    .header-content__menu {
      width: 50%; }
      .header-content__menu ul {
        display: flex;
        justify-content: space-between; }
        .header-content__menu ul li {
          list-style: none; }
    .header-content__contacts {
      text-align: right; }

.main {
  color: #8CC541; }
  .main-content__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .main-content__products_card {
      padding: 10px;
      width: 22%;
      transition: 0.5s; }
      .main-content__products_card:hover {
        background: #EDEDED; }
      .main-content__products_card-img img {
        width: 100%;
        height: 250px;
        -o-object-fit: cover;
           object-fit: cover; }
      .main-content__products_card-title {
        font-family: "Gotham Pro Bold";
        padding-bottom: 10px; }
      .main-content__products_card-text {
        font-size: 14px;
        padding-bottom: 10px; }
      .main-content__products_card-price-var {
        font-family: "Gotham Pro Bold"; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

/* 	Корзина  */

.cart-wrapper{
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #8CC541;
  font-family: "Gotham Pro Bold";
  color: #8CC541;
}

.cart-wrapper-open{
  right: 0;
}

.cart-products{
  background-color: #fff;
  height: 80%;
  border-top: 2px solid #8CC541;
  border-bottom: 2px solid #8CC541;
}

.cart-total{
  font-weight: bold;
  font-size: 1.4em;
}

.cart-close-btn{
  color: #fff;
  background: #8CC541;
  font-size: 18px;

}

.cart-open-btn{
  position: fixed;
  top: 50px;
  right: 50px;
  background: #8CC541;
  font-size: 18px;
  width: 100px;
  height: 40px;
  color: #fff;
}

/* 	Корзина  */
