@media (max-width: 1199px)
  .common
    &-header
    &-content
      margin: -20px -5px
      &__box
        margin: 25px 5px
        &:after
        &_img
          img
        &_title
      &__box-more
    &-button
      &-more
        &:hover
@media (max-width: 991px)
  .common
    &-header
      font-size: 40px
    &-content
      margin: -15px -5px
      &__box
        margin: 15px 5px
        &:after
        &_img
          img
        &_title
      &__box-more
    &-button
      &-more
        &:hover
@media (max-width: 767px)
  .common
    &-header
      text-align: center
    &-content
      &__box
        width: 310px
        &:after
          width: 290px
        &_img
          img
        &_title
      &__box-more
    &-button
      &-more
        margin-top: 100px
        margin-bottom: 20px
        z-index: 100
        position: relative
        &:hover
