@media (max-width: 1199px)
  .header
    &-content
      &__logo
        width: 180px
      &__menu
        &_items
          display: flex
          flex-direction: row
          margin-left: 0
        &_item
          list-style: none
          a
            list-style: none
            padding-right: 25px
            color: #ffffff
            font-family: "Gotham Pro"
            font-size: 15px
            font-weight: 400
      &__contacts
        &_phone 
          &-link
            font-size: 15px
            color: #fb1d43
            &:hover
              color: #ffffff
        &_email 
          &-link
            font-size: 15px
            color: #ffffff
@media (max-width: 991px)
  .header
    &-content
      &__logo
        img
          max-width: 200px
      &__menu
        display: none
        &_link
          display: flex
          margin-left: 0px
          z-index: 9
          &:after
          span, span:before, span:after
            display: block
            height: 2px
            width: 20px
            background-color: #ffffff
            position: absolute 
            left: 50%
            margin-left: -10px
            top: 50%
            margin-top: -1px
          span:before
            transition: all 0.3s
            content: ''
            margin-top: -8px
          span:after
            transition: all 0.3s
            content: ''
            margin-top: 6px
          &_active
            // left: 80%
          &_active span
            background-color: transparent
            &:before
              transform: rotate(135deg)
              margin-top: 0
            &:after
              transform: rotate(-135deg)
              margin-top: 0
        background-color: #181F53
        position: fixed
        z-index: 99999
        display: flex
        justify-content: center
        align-content: center
        width: 100vw
        height: 100vh
        left: -100vw
        transition: 0.3s
        &_active
          top: 0
          left: 0
          z-index: 6
          transition: 0.3s
        &_items
          display: flex
          flex-direction: column
          align-items: center
          padding: 20% 0 
          margin-left: 0
          transition: 0.3s
        &_item
          height: 100vh
          line-height: 2
          a
            font-size: 15px
            padding-right: 0
      &__contacts
        &_phone 
          &-link
            font-size: 14px
        &_email 
          &-link
            font-size: 14px

@media (max-width: 575px)
  .container
    padding: 7px
  .header
    &-content
      &__logo
        img
          max-width: 120px
      &__contacts
        &_phone 
          &-link
            font-size: 12px
        &_email 
          &-link
            font-size: 12px